Q 1 ) Convert given hours and mins in second

In [23]:
hours=int(input("Enter hours: "))
minutes=int(input("Enter minutes: "))
sec=(hours*3600)+(minutes*60)
print(hours,"hours and",minutes,"minutes are total",sec,"seconds.")

Enter hours: 4
Enter minutes: 30
4 hours and 30 minutes are total 16200 seconds.

Q 5 ) create class

In [27]:
class Math:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def Add(self):
    return self.a+self.b
  def Sub(self):
    return self.a-self.b  
  def Mul(self):
    return self.a*self.b
  def Div(self):
    return self.a/self.b

In [28]:
x=Math(60,20)

In [29]:
print(x.Add())
print(x.Sub())
print(x.Mul())
print(x.Div())

80
40
1200
3.0

Q7 convert paise in rupees and paises

In [30]:
p=int(input("enter paise: "))
a=0
if p>100:
  b= p%100
  c= p//100
  print(p,"paise equals to",c,"rupees and",b,"paise")
else:
  print(p,"paise")

enter paise: 250
250 paise equals to 2 rupees and 50 paise

Q 10 create menu driven code for accept 2 numbers add 
sub
mul
div

In [31]:
num1=float(input("enter first num"))
num2=float(input("enter second num"))

print("Enter which operation to perform")
ch=input("enter the sepcific operations +,-,*,/ :")

result=0
if ch== '+':
  result = num1+num2
elif ch == '-':
  result = num1-num2  
elif ch == '*':
  result = num1*num2    
elif ch == '/':
  result = num1/num2    
else:
  print("invalid input")

print(num1, ch, num2, ':', result)

enter first num7
enter second num5
Enter which operation to perform
enter the sepcific operations +,-,*,/ :*
7.0 * 5.0 : 35.0

Q 8 print 1 33  555  6666 77777

In [32]:
a='13567'
for i in range(0,len(a)):
  print(a[i]*(i+1))

1
33
555
6666
77777

Q6 Read file and count numbers of digits alphabets and symols

Q 3

In [33]:
for i in range (1,6):
  for j in range (i,i+i):
    print(j%2,end=" ")
  print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1